<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>safeshops</name>
            <displayName><![CDATA[SafeShops]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[The fastest growing label community of Belgium]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[others]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>